/build/
*.graphml
*.dot
*project*
*settings*
*.out
*.json
*.exe
*.o
*.bc
/results/
*.dot
/paper_results/
*.yy
toks.hh
*__pycache__*
include/AST/ASTCommon.hh
include/AST/Attr.hh
include/AST/Decl.hh
include/AST/Expr.hh
include/AST/RecursiveASTVisitor.hh
include/AST/Stmt.hh
include/AST/Type.hh
include/AST/Operators.hh
include/Lexer/tokens.hh
include/Lexer/Tokens.hh
lang/Conf/tmp
lib/Parser/ParserHandler.cc
*TODO*
