./tblgen/build/
*.rt.cpp
/tmp/
/build/
*.graphml
*.dot
*project*
*settings*
*.out
*.json
*.exe
*.o
*.bc
/results/
*.dot
/paper_results/
*.yy
*.ll
main.tt
toks.hh
*__pycache__*
include/AST/ASTCommon.hh
include/AST/Attr.hh
include/AST/Decl.hh
include/AST/Expr.hh
include/AST/RecursiveASTVisitor.hh
include/AST/RecursiveASTVisitor*.hh
include/AST/Stmt.hh
include/AST/Type.hh
include/AST/Operators.hh
include/Lex/tokens.hh
include/Lex/Tokens.hh
include/AST/Common.hh
include/AST/Nodes.inc
include/AST/Traits.hh
include/CodeGen/Emitable.inc
include/CodeGen/RecursiveVisitor.hh
include/CodeGen/Traits.hh
lib/AST/Attr.cc
lib/AST/Common.cc
lib/AST/Decl.cc
lib/AST/Expr.cc
lib/AST/Stmt.cc
lib/AST/Type.cc
lang/Conf/tmp
lib/Parser/ParserHandler.cc
*TODO*
*.ptx
nvptx
