function int div(int x, int* y) {
	print("").foo().bar();
	return x + y.x.foo();
}

struct Hi {
int l;
  A x;
  function float foo() {
  }
  function A bar() {
  }
};

struct A {
  float l;
  int x;
  function float foo() {
  let int x = 0;
  while(1)
   x = x + 1;
  }
};