function int saxpy(auto x) {
}

function void saxpy2(int s, const float*& x, Hi k, bool l) {
  let int x = 0;
  if ( 0 + x )
  	if ( (2 + 2 - x.x) ) {} else {} else {let float x = 1; x = x + 1;}
  	x(2, 3 + saxpy() + saxpy(2));
}

struct Hi {
int l;
};