
fn add(alpha: f64, x: f64*, y: f64*, n: i32) {
  let blockSize: i32 = 128;
  parallel [private(alpha, x, y, n, blockSize)] {
    let i: i32;
    i = tid<v:s>.x;
    if (i < n)
      x[i] = alpha * x[i] + y[i];
  }
}

